---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hello from '../components/Hello.tsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hello client:visible/>
	</main>
</Layout>

<style>
	
</style>
