---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto max-w-4xl px-4 py-2">
    <h1 class="text-center text-4xl font-bold">Kanban Board</h1>
  </main>
</Layout>

<style></style>
